@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IDataService DataService
@inject IJsonStringLocalizer<ListModel> Localizer
@{
    AppSettings.SiteRoot = Url.Content("~/");
    var img = $"{AppSettings.SiteRoot}themes/philosophy/images";
    PostModel postModel = (PostModel)Model;
    string cover = $"{Url.Content("~/")}{postModel.Post.Cover}";
    var catUrl = Url.Content("~/categories");
    var cats = string.IsNullOrEmpty(postModel.Post.Categories)
        ? null : postModel.Post.Categories.Split(',').ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Main/Shared/HeaderScript.cshtml" />
    <partial name="~/Views/Shared/HeaderScript.cshtml" />
</head>

<body>
    <partial name="~/Views/Themes/Main/Shared/Header.cshtml" />
<!-- Blog STart -->
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- BLog Start -->
                    <div class="blog position-relative overflow-hidden shadow rounded">
                        <div class="content p-4">
                            <h6 class="font-weight-normal"><i class="mdi mdi-tag text-primary mr-1"></i><a href="javscript:void(0)" class="text-primary">Photography</a></h6>
                            <p class="text-muted mt-3">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script. </p>
                            <blockquote class="blockquote mt-3 p-3">
                                <p class="text-muted mb-0 font-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>
                            </blockquote>
                            <p class="text-muted">The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                            <div class="post-meta mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item float-right">
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item">Share :</li>
                                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-instagram"></i></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="list-inline-item mr-2"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 pt-2 comment-area ">
                        <div class="p-4 shadow rounded">
                            <h5 class="page-title pb-3">Comments :</h5>
                            <ul class="media-list list-unstyled mb-0">
                                <li class="media mt-4">
                                    <a class="float-left pr-3 mt-2" href="#">
                                        <img class="img-fluid d-block mx-auto img-thumbnail rounded-circle" src="~/themes/main/images/client/01.jpg" alt="img">
                                    </a>

                                    <div class="media-body">
                                        <a href="#" class="float-right text-muted"><i class="mdi mdi-reply"></i>&nbsp; Reply</a>
                                        <h6 class="media-heading mb-0"><a href="javascript:void(0)" class="text-dark">Lorenzo Peterson</a></h6>
                                        <small class="text-muted">26th April, 2020 at 01:25 pm</small>
                                        <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 pl-4 pr-3 mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                                    </div>
                                </li>

                                <li class="media mt-4">
                                    <a class="float-left pr-3 mt-2" href="#">
                                        <img class="img-fluid d-block mx-auto img-thumbnail rounded-circle" src="~/themes/main/images/client/02.jpg" alt="img">
                                    </a>

                                    <div class="media-body">
                                        <a href="#" class="float-right text-muted"><i class="mdi mdi-reply"></i>&nbsp; Reply</a>
                                        <h6 class="media-heading mb-0"><a href="javascript:void(0)" class="text-dark">Tammy Camacho</a></h6>
                                        <small class="text-muted">26th April, 2020 at 03:55 pm</small>
                                        <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 pl-4 pr-3 mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    </div>
                                </li>

                                <li class="media mt-4">
                                    <a class="float-left pr-3 mt-2" href="#">
                                        <img class="img-fluid d-block mx-auto img-thumbnail rounded-circle" src="~/themes/main/images/client/03.jpg" alt="img">
                                    </a>

                                    <div class="media-body">
                                        <a href="#" class="float-right text-muted"><i class="mdi mdi-reply"></i>&nbsp; Reply</a>
                                        <h6 class="media-heading mb-0"><a href="javascript:void(0)" class="text-dark">Eleanor Crisp</a></h6>
                                        <small class="text-muted">26th April, 2020 at 05:44 pm</small>
                                        <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 pl-4 pr-3 mb-0">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        
                                        <div class="media sub_media mt-4">
                                            <a class="float-left pr-3" href="#">
                                                <img class="img-fluid d-block mx-auto img-thumbnail rounded-circle" src="~/themes/main/images/client/04.jpg" alt="img">
                                            </a>
                                            <div class="media-body">
                                                <a href="#" class="float-right text-muted"><i class="mdi mdi-reply"></i>&nbsp; Reply</a>
                                                <h6 class="media-heading mb-0"><a href="javascript:void(0)" class="text-dark">Richard Combs</a></h6>
                                                <small class="text-muted">26th April, 2020 at 06:14 am</small>
                                                <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 pl-4 pr-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-4 pt-2">
                        <div class="p-4 shadow rounded">
                            <h5 class="page-title pb-3">Leave A Comment :</h5>
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="message" placeholder="Your Comment" rows="5" name="message" class="form-control border rounded" required=""></textarea>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="name" name="name" type="text" placeholder="Name" class="form-control border rounded" required="">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="email" type="email" placeholder="Email" name="email" class="form-control border rounded" required="">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-12">
                                        <div class="send">
                                        <button type="submit" class="btn btn-primary rounded">Send comment</button>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form><!--end form-->
                        </div>
                    </div>
                <!-- BLog End -->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Blog -->
    <partial name="~/Views/Themes/Main/Shared/Footer.cshtml" />
</body>
</html>