<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/HeaderScript.cshtml" />
</head>

<body>
    <partial name="~/Views/Themes/Main/Shared/Header.cshtml" />
    <!-- Home Start -->
    <section class="bg-half d-table w-100" style='background: center center url(@Url.Content("~/themes/main/images/home/bg-pages2.jpg"));'>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title">Resume</h4>
                        <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                            <li><a href="~/" class="text-dark">Home</a></li>
                            <li>
                                <span class="text-primary">Resume</span> 
                            </li> 
                        </ul>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Home End -->

            <!-- Projects End -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <!-- WORK START -->
                    <div class="col-lg-12 col-md-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="row mr-lg-4">
                            <div class="col-lg-12">
                                <div class="work-details">
                                    <h4 class="title mb-3 border-bottom pb-3">About me</h4>
                                    <p class="text-muted">I am fullstack developer working at <b>Vonage</b>. Apart from my full-time job, I work as lecturer in <b>Coders Lab</b>. As programming is also my hobby, I blog about it and do side-projects. Are you looking for a professional, who will create your website? Contact me.</p>
                                    <p class="text-muted">My preferable stack is Javascript and .NET. Testing, clean code and design is the emphasis of my work.</p>

                                    <div class="work-details bg-light p-4">
                                        <span>“I’m Not a Great Programmer, I’m Just a Good Programmer With Great Habits.” — Kent Beck</span>                
                                    </div>
                                </div>
                                 <div class="work-details mt-3">
                                    <h4 class="title mb-3 border-bottom pb-3 mt-5">My career</h4>
                                    <p class="text-muted">My professional career started July 2015. Since then, I have been working as a developer for multiple companies:</p>
                                    <ul class="list-group list-group-flushmb-0 mt-2">
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Coders Lab</b><span>2020.01-present</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Role: Lecturer</span>
                                                    <span class="d-block mt-1">Tech stack: Javascript, React</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Vonage</b><span>2019.03-present</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Role: Fullstack Developer</span>
                                                    <span class="d-block mt-1">Tech stack: C#, .NET Core, SpecFlow, EF Core, Javascript, Typescript, Flow, Redux, Ramda, RxJs, Cypress</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Nokia</b><span>2018.03-2019.02</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Role: Frontend Developer</span>
                                                    <span class="d-block mt-1">Tech stack: Javascript, Typescript, React, Redux, RxJS, .NET Core, C# </span>
                                                </div>
                                            </li> 
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Credit Suisse</b><span>2016.04-2018.02</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Role: Fullstack Developer</span>
                                                    <span class="d-block mt-1">Tech stack: C#, ASP.NET, OData, EntityFramework, Javascript, Knockout.js, JQuery</span>
                                                </div>
                                            </li> 
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Citibank</b><span>2015.07-2016.03</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Role: Automation Specialist</span>
                                                    <span class="d-block mt-1">Tech stack: VBA, C#</span>
                                                </div>
                                            </li>                                      
                                        </ul>         
                                </div>
                                <div class="work-details mt-3">
                                    <h4 class="title mb-3 border-bottom pb-3 mt-5">My education</h4>
                                    <p class="text-muted">I have graduated from two universities. I hold master degree in Finance and Accounting.</p>
                                    <ul class="list-group list-group-flushmb-0 mt-2 mb-3">
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>SGH Warsaw School of Economics</b><span>2014-2016</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Master of Finance and Accounting</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="d-flex flex-row justify-content-between"><b>Wroclaw University of Science and Technology</b><span>2010-2014</span></div>
                                                <div class="pl-2">
                                                    <span class="d-block mt-1">Bachelor of Management and Manufacturing Engineering </span>
                                                </div>
                                            </li>
                                    </ul>
                                    <p class="text-muted mt-4">Apart from that, I have done courses and certificates regarding my interests.</p>
                                    <ul class="mt-1">
                                            <li>Microsoft Exam 480: Programming in HTML5 with Javascript and CSS3</li>
                                            <li>Agile Requirements Management by SII</li>
                                            <li>FCE by British Council</li>
                                            <li>YALE: Financial Markets</li>
                                            <li>World of Audit by KPMG Poland</li>
                                            <li>ISO 14001:2004 Internal Auditor by LUQAM</li>
                                            <li>ISO 9001:2008 Internal Auditor by LUQAM</li>
                                    </ul>         
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!-- End row -->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Contact End -->

    <partial name="~/Views/Themes/Main/Shared/Footer.cshtml" />
</body>
</html>