@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IDataService DataService
@inject IJsonStringLocalizer<ListModel> Localizer
@{
    AppSettings.SiteRoot = Url.Content("~/");
    var img = $"{AppSettings.SiteRoot}themes/main/images";
    var imgPlaceholder = $"{AppSettings.SiteRoot}admin/img/img-placeholder.png";

    var popular = await DataService.BlogPosts.GetPopular(new Pager(1, 4));
    var catsUnordered = await DataService.BlogPosts.Categories();
    var cats = catsUnordered.OrderByDescending(c => c.PostCount);
    var blog = await DataService.CustomFields.GetBlogSettings();
}

<!-- Footer Start -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#"><img src="images/logo-light.png" height="20" alt=""></a>
                <p class="para-desc mx-auto mt-5">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar bg-dark">
    <div class="container text-foot text-center">
        <p class="mb-0">© 2020 Samuel. Design with <i class="mdi mdi-heart text-danger"></i> by Uniquecrew.</p>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
    <i class="mdi mdi-chevron-up d-block"> </i> 
</a>
<!-- Back to top -->

<!-- Java Script
================================================== -->

<!-- javascript -->
<script src="~/themes/main/js/jquery-3.5.1.min.js"></script>
<script src="~/themes/main/js/bootstrap.bundle.min.js"></script>
<script src="~/themes/main/js/jquery.easing.min.js"></script>
<script src="~/themes/main/js/scrollspy.min.js"></script>
<!-- SLIDER -->
<script src="~/themes/main/js/owl.carousel.min.js "></script>
<!-- Magnific Popup -->
<script src="~/themes/main/js/jquery.magnific-popup.min.js"></script>
<!-- Feather icon -->
<script src="~/themes/main/js/feather.min.js"></script>
<!-- Switcher -->
<script src="~/themes/main/js/switcher.js"></script>
<!-- Main Js -->
<script src="~/themes/main/js/app.js"></script>

<partial name="~/Views/Shared/FooterScript.cshtml" />